<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <appender name="Appender" type="log4net.Appender.RollingFileAppender" >
      <file value="Logs.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="Appender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!--Process Configurations-->
    <add key="Process1Name" value="D:\workspace\OCR-X Integration DTS\ImageServer\SRC\OCRXWorker\bin\Debug\OCRXWorker.exe" />
    <add key="Process1Arguments" value="5001" />
    <add key="Process1Id" value="62795001" />

    <!--<add key="Process2Name" value="D:\workspace\ImageServer\SRC\OCRXWorker\bin\Debug\OCRXWorker.exe" />
    <add key="Process2Arguments" value="5002" />
    <add key="Process2Id" value="62795002" />

    <add key="Process3Name" value="D:\workspace\ImageServer\SRC\OCRXWorker\bin\Debug\OCRXWorker.exe" />
    <add key="Process3Arguments" value="5003" />
    <add key="Process3Id" value="62795003" />-->

    <add key="Interval" value="600000" />
    <!--After every 4 minutes windows service triggers-->
    <add key="ServiceTimeOut" value="30" />
    <!--OCR-X service time out. 30 minutes being set in case if OCR-X is busy processing images it will delay to respond for get -->
    <add key="OCRServerUpTimeDelay" value="240000" />
    <!--OCR-X server takes 1.5 minutes to warm up-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="LaneMsg" connectionString="Database=dbLaneMsg;Server=192.168.1.138,49170;User ID=sa; Password=transcore#123" providerName="System.Data.SqlClient"/>
    <add name="DTS" connectionString="Database=dbDTS;Server=192.168.1.138,49170;User ID=sa; Password=transcore#123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>